In [1]:
#Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# Set Pandas options to show all columns and rows
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

# Make variable for input file
INFILE = "/Users/jck/Documents/MSDS 422/Unit 2/Assignment 2/HMEQ_Loss.csv"

# Read in the data file
df = pd.read_csv(INFILE, sep=',', header=0)

In [2]:
print(df.head(5))

   TARGET_BAD_FLAG  TARGET_LOSS_AMT  LOAN  MORTDUE     VALUE   REASON     JOB  \
0                1            641.0  1100  25860.0   39025.0  HomeImp   Other
1                1           1109.0  1300  70053.0   68400.0  HomeImp   Other
2                1            767.0  1500  13500.0   16700.0  HomeImp   Other
3                1           1425.0  1500      NaN       NaN      NaN     NaN
4                0              NaN  1700  97800.0  112000.0  HomeImp  Office

    YOJ  DEROG  DELINQ       CLAGE  NINQ  CLNO  DEBTINC
0  10.5    0.0     0.0   94.366667   1.0   9.0      NaN
1   7.0    0.0     2.0  121.833333   0.0  14.0      NaN
2   4.0    0.0     0.0  149.466667   1.0  10.0      NaN
3   NaN    NaN     NaN         NaN   NaN   NaN      NaN
4   3.0    0.0     0.0   93.333333   0.0  14.0      NaN

In [3]:
cols_with_missing = ['MORTDUE', 'VALUE', 'YOJ', 'DEROG', 'DELINQ', 'CLAGE', 'NINQ', 'CLNO', 'DEBTINC']

In [4]:
'''
I observed that some data points are outliers, so I plan to employ the Interquartile Range (IQR) method 
to detect these outliers and substitute them, using the median value for imputation.
'''
for col in cols_with_missing:
    # 1. Identify Outliers using the IQR method
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # 2. Remove Outliers - Replace outliers in a copy of the column with NaN
    temp_col = df[col].copy()
    temp_col[(temp_col < lower_bound) | (temp_col > upper_bound)] = np.nan
    
    # 3. Calculate median of the column with outliers removed
    median_val = temp_col.median()
    
    # 4. Create new column for imputed values, fill missing values with the calculated median
    df['IMP_'+col] = df[col].fillna(median_val)

In [5]:
X = df.drop(['TARGET_BAD_FLAG', 'TARGET_LOSS_AMT', 'REASON', 'JOB','MORTDUE', 'VALUE', 'YOJ', 'DEROG', 'DELINQ', 'CLAGE', 'NINQ', 'CLNO', 'DEBTINC'], axis=1)

In [6]:
print(X.head(5))

   LOAN  IMP_MORTDUE  IMP_VALUE  IMP_YOJ  IMP_DEROG  IMP_DELINQ   IMP_CLAGE  \
0  1100      25860.0    39025.0     10.5        0.0         0.0   94.366667
1  1300      70053.0    68400.0      7.0        0.0         2.0  121.833333
2  1500      13500.0    16700.0      4.0        0.0         0.0  149.466667
3  1500      63508.0    86908.0      7.0        0.0         0.0  172.432355
4  1700      97800.0   112000.0      3.0        0.0         0.0   93.333333

   IMP_NINQ  IMP_CLNO  IMP_DEBTINC
0       1.0       9.0    34.880462
1       0.0      14.0    34.880462
2       1.0      10.0    34.880462
3       1.0      20.0    34.880462
4       0.0      14.0    34.880462

In [7]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
varNames = X.columns

In [8]:
### MIN MAX SCALER
print(" NORMALIZING THE DATA \n\n\n")
theScaler = MinMaxScaler()
theScaler.fit( X )

X_MINMAX = theScaler.transform( X )
X_MINMAX = pd.DataFrame( X_MINMAX )
print( X_MINMAX.head() )
print( "\n\n")

 NORMALIZING THE DATA



          0         1         2         3    4         5         6         7  \
0  0.000000  0.059869  0.036590  0.256098  0.0  0.000000  0.080777  0.058824
1  0.002252  0.171050  0.071234  0.170732  0.0  0.133333  0.104289  0.000000
2  0.004505  0.028773  0.010261  0.097561  0.0  0.000000  0.127942  0.058824
3  0.004505  0.154584  0.093062  0.170732  0.0  0.000000  0.147601  0.058824
4  0.006757  0.240856  0.122655  0.073171  0.0  0.000000  0.079893  0.000000

          8         9
0  0.126761  0.169418
1  0.197183  0.169418
2  0.140845  0.169418
3  0.281690  0.169418
4  0.197183  0.169418

In [9]:
varNames_minmax = []
for i in varNames :
    newName = "nor_" + i
    varNames_minmax.append( newName )
print( varNames_minmax )
print( "\n\n")

['nor_LOAN', 'nor_IMP_MORTDUE', 'nor_IMP_VALUE', 'nor_IMP_YOJ', 'nor_IMP_DEROG', 'nor_IMP_DELINQ', 'nor_IMP_CLAGE', 'nor_IMP_NINQ', 'nor_IMP_CLNO', 'nor_IMP_DEBTINC']

In [10]:
X_MINMAX.columns = varNames_minmax
print( X_MINMAX.head() )
print( "\n\n")

   nor_LOAN  nor_IMP_MORTDUE  nor_IMP_VALUE  nor_IMP_YOJ  nor_IMP_DEROG  \
0  0.000000         0.059869       0.036590     0.256098            0.0
1  0.002252         0.171050       0.071234     0.170732            0.0
2  0.004505         0.028773       0.010261     0.097561            0.0
3  0.004505         0.154584       0.093062     0.170732            0.0
4  0.006757         0.240856       0.122655     0.073171            0.0

   nor_IMP_DELINQ  nor_IMP_CLAGE  nor_IMP_NINQ  nor_IMP_CLNO  nor_IMP_DEBTINC
0        0.000000       0.080777      0.058824      0.126761         0.169418
1        0.133333       0.104289      0.000000      0.197183         0.169418
2        0.000000       0.127942      0.058824      0.140845         0.169418
3        0.000000       0.147601      0.058824      0.281690         0.169418
4        0.000000       0.079893      0.000000      0.197183         0.169418

In [11]:
X_MINMAX[ "TARGET" ] = df.TARGET_BAD_FLAG
X_MINMAX[ "TARGET2" ] = df.TARGET_LOSS_AMT
X_MINMAX[ "REASON" ] = df.REASON
X_MINMAX[ "JOB" ] = df.JOB

print( X_MINMAX.head() )
print( "\n\n")

   nor_LOAN  nor_IMP_MORTDUE  nor_IMP_VALUE  nor_IMP_YOJ  nor_IMP_DEROG  \
0  0.000000         0.059869       0.036590     0.256098            0.0
1  0.002252         0.171050       0.071234     0.170732            0.0
2  0.004505         0.028773       0.010261     0.097561            0.0
3  0.004505         0.154584       0.093062     0.170732            0.0
4  0.006757         0.240856       0.122655     0.073171            0.0

   nor_IMP_DELINQ  nor_IMP_CLAGE  nor_IMP_NINQ  nor_IMP_CLNO  nor_IMP_DEBTINC  \
0        0.000000       0.080777      0.058824      0.126761         0.169418
1        0.133333       0.104289      0.000000      0.197183         0.169418
2        0.000000       0.127942      0.058824      0.140845         0.169418
3        0.000000       0.147601      0.058824      0.281690         0.169418
4        0.000000       0.079893      0.000000      0.197183         0.169418

   TARGET  TARGET2   REASON     JOB
0       1    641.0  HomeImp   Other
1       1   1109.0  HomeImp   Other
2       1    767.0  HomeImp   Other
3       1   1425.0      NaN     NaN
4       0      NaN  HomeImp  Office

In [12]:
X_NEW = pd.concat([ X , X_MINMAX ], axis=1 )
print( X_NEW.head() )
print( "\n\n")
X_TEST = X_NEW[ ["IMP_MORTDUE", "nor_IMP_MORTDUE" ] ]
print( X_TEST.head() ) 
print( "\n\n")

   LOAN  IMP_MORTDUE  IMP_VALUE  IMP_YOJ  IMP_DEROG  IMP_DELINQ   IMP_CLAGE  \
0  1100      25860.0    39025.0     10.5        0.0         0.0   94.366667
1  1300      70053.0    68400.0      7.0        0.0         2.0  121.833333
2  1500      13500.0    16700.0      4.0        0.0         0.0  149.466667
3  1500      63508.0    86908.0      7.0        0.0         0.0  172.432355
4  1700      97800.0   112000.0      3.0        0.0         0.0   93.333333

   IMP_NINQ  IMP_CLNO  IMP_DEBTINC  nor_LOAN  nor_IMP_MORTDUE  nor_IMP_VALUE  \
0       1.0       9.0    34.880462  0.000000         0.059869       0.036590
1       0.0      14.0    34.880462  0.002252         0.171050       0.071234
2       1.0      10.0    34.880462  0.004505         0.028773       0.010261
3       1.0      20.0    34.880462  0.004505         0.154584       0.093062
4       0.0      14.0    34.880462  0.006757         0.240856       0.122655

   nor_IMP_YOJ  nor_IMP_DEROG  nor_IMP_DELINQ  nor_IMP_CLAGE  nor_IMP_NINQ  \
0     0.256098            0.0        0.000000       0.080777      0.058824
1     0.170732            0.0        0.133333       0.104289      0.000000
2     0.097561            0.0        0.000000       0.127942      0.058824
3     0.170732            0.0        0.000000       0.147601      0.058824
4     0.073171            0.0        0.000000       0.079893      0.000000

   nor_IMP_CLNO  nor_IMP_DEBTINC  TARGET  TARGET2   REASON     JOB
0      0.126761         0.169418       1    641.0  HomeImp   Other
1      0.197183         0.169418       1   1109.0  HomeImp   Other
2      0.140845         0.169418       1    767.0  HomeImp   Other
3      0.281690         0.169418       1   1425.0      NaN     NaN
4      0.197183         0.169418       0      NaN  HomeImp  Office



   IMP_MORTDUE  nor_IMP_MORTDUE
0      25860.0         0.059869
1      70053.0         0.171050
2      13500.0         0.028773
3      63508.0         0.154584
4      97800.0         0.240856

In [13]:
print( X_TEST["IMP_MORTDUE"].describe() )

count      5960.000000
mean      72869.716644
std       42579.485794
min        2063.000000
25%       48139.000000
50%       63508.000000
75%       88200.250000
max      399550.000000
Name: IMP_MORTDUE, dtype: float64

In [14]:
print( "\n\n")
TEMP = ( X_TEST["IMP_MORTDUE"] - 2063 ) / ( 399550 - 2063)
#TEMP = ( X_TEST["SepalLength"] - 4.3 ) / ( 10000 - 4.3 )    # this is what happens when you have outliers.
X_TEST = X_TEST.assign( calc_IMP_MORTDUE = TEMP.values )
print( X_TEST.head() ) 
print( "\n\n")

   IMP_MORTDUE  nor_IMP_MORTDUE  calc_IMP_MORTDUE
0      25860.0         0.059869          0.059869
1      70053.0         0.171050          0.171050
2      13500.0         0.028773          0.028773
3      63508.0         0.154584          0.154584
4      97800.0         0.240856          0.240856

In [15]:
# STANDARD SCALER

print(" STANDARDIZING THE DATA \n\n\n")

theScaler = StandardScaler()
theScaler.fit( X )

Y_STD = theScaler.transform( X )
Y_STD = pd.DataFrame( Y_STD )
print( Y_STD.head() )
print( "\n\n")

 STANDARDIZING THE DATA



          0         1         2         3         4         5         6  \
0 -1.562299 -1.104139 -1.098402  0.240237 -0.280976 -0.375943 -1.017336
1 -1.544453 -0.066158 -0.581919 -0.241936 -0.280976  1.477341 -0.688676
2 -1.526606 -1.394444 -1.490930 -0.655226 -0.280976 -0.375943 -0.358023
3 -1.526606 -0.219883 -0.256504 -0.241936 -0.280976 -0.375943 -0.083221
4 -1.508759  0.585549  0.184674 -0.792990 -0.280976 -0.375943 -1.029700

          7         8         9
0 -0.102879 -1.230878  0.113349
1 -0.707574 -0.728389  0.113349
2 -0.102879 -1.130380  0.113349
3 -0.102879 -0.125403  0.113349
4 -0.707574 -0.728389  0.113349

In [16]:
varNames_std = []
for i in varNames :
    newName = "std_" + i
    varNames_std.append( newName )

Y_STD.columns = varNames_std
print( Y_STD.head() )
print( "\n\n")

print( Y_STD.describe() )
print( "\n\n")

   std_LOAN  std_IMP_MORTDUE  std_IMP_VALUE  std_IMP_YOJ  std_IMP_DEROG  \
0 -1.562299        -1.104139      -1.098402     0.240237      -0.280976
1 -1.544453        -0.066158      -0.581919    -0.241936      -0.280976
2 -1.526606        -1.394444      -1.490930    -0.655226      -0.280976
3 -1.526606        -0.219883      -0.256504    -0.241936      -0.280976
4 -1.508759         0.585549       0.184674    -0.792990      -0.280976

   std_IMP_DELINQ  std_IMP_CLAGE  std_IMP_NINQ  std_IMP_CLNO  std_IMP_DEBTINC
0       -0.375943      -1.017336     -0.102879     -1.230878         0.113349
1        1.477341      -0.688676     -0.707574     -0.728389         0.113349
2       -0.375943      -0.358023     -0.102879     -1.130380         0.113349
3       -0.375943      -0.083221     -0.102879     -0.125403         0.113349
4       -0.375943      -1.029700     -0.707574     -0.728389         0.113349



           std_LOAN  std_IMP_MORTDUE  std_IMP_VALUE   std_IMP_YOJ  \
count  5.960000e+03     5.960000e+03   5.960000e+03  5.960000e+03
mean  -1.525998e-16    -3.624245e-16   3.814995e-17 -1.192186e-16
std    1.000084e+00     1.000084e+00   1.000084e+00  1.000084e+00
min   -1.562299e+00    -1.663070e+00  -1.643897e+00 -1.206280e+00
25%   -6.699632e-01    -5.808617e-01  -6.155102e-01 -7.929898e-01
50%   -2.059485e-01    -2.198829e-01  -2.318444e-01 -2.419357e-01
75%    4.186868e-01     3.600753e-01   3.078347e-01  4.468820e-01
max    6.361645e+00     7.672890e+00   1.326439e+01  4.442025e+00

       std_IMP_DEROG  std_IMP_DELINQ  std_IMP_CLAGE  std_IMP_NINQ  \
count   5.960000e+03    5.960000e+03   5.960000e+03  5.960000e+03
mean    1.371014e-17    5.960929e-17  -2.193622e-16  3.576557e-17
std     1.000084e+00    1.000084e+00   1.000084e+00  1.000084e+00
min    -2.809762e-01   -3.759430e-01  -2.146504e+00 -7.075740e-01
25%    -2.809762e-01   -3.759430e-01  -7.420665e-01 -7.075740e-01
50%    -2.809762e-01   -3.759430e-01  -8.322087e-02 -1.028793e-01
75%    -2.809762e-01   -3.759430e-01   5.714341e-01  5.018155e-01
max     1.224421e+01    1.352369e+01   1.183229e+01  9.572237e+00

       std_IMP_CLNO  std_IMP_DEBTINC
count  5.960000e+03      5960.000000
mean   5.722492e-17         0.000000
std    1.000084e+00         1.000084
min   -2.135358e+00        -4.380362
25%   -6.278917e-01        -0.425189
50%   -1.254030e-01         0.113349
75%    4.775835e-01         0.514826
max    4.999982e+00        22.143972

In [17]:
Y_STD[ "TARGET" ] = df.TARGET_BAD_FLAG
Y_STD[ "TARGET2" ] = df.TARGET_LOSS_AMT
Y_STD[ "REASON" ] = df.REASON
Y_STD[ "JOB" ] = df.JOB

print( Y_STD.head() )
print( "\n\n")


Y_NEW = pd.concat([ X , Y_STD ], axis=1 )
print(Y_NEW.head() )
print( "\n\n")

   std_LOAN  std_IMP_MORTDUE  std_IMP_VALUE  std_IMP_YOJ  std_IMP_DEROG  \
0 -1.562299        -1.104139      -1.098402     0.240237      -0.280976
1 -1.544453        -0.066158      -0.581919    -0.241936      -0.280976
2 -1.526606        -1.394444      -1.490930    -0.655226      -0.280976
3 -1.526606        -0.219883      -0.256504    -0.241936      -0.280976
4 -1.508759         0.585549       0.184674    -0.792990      -0.280976

   std_IMP_DELINQ  std_IMP_CLAGE  std_IMP_NINQ  std_IMP_CLNO  std_IMP_DEBTINC  \
0       -0.375943      -1.017336     -0.102879     -1.230878         0.113349
1        1.477341      -0.688676     -0.707574     -0.728389         0.113349
2       -0.375943      -0.358023     -0.102879     -1.130380         0.113349
3       -0.375943      -0.083221     -0.102879     -0.125403         0.113349
4       -0.375943      -1.029700     -0.707574     -0.728389         0.113349

   TARGET  TARGET2   REASON     JOB
0       1    641.0  HomeImp   Other
1       1   1109.0  HomeImp   Other
2       1    767.0  HomeImp   Other
3       1   1425.0      NaN     NaN
4       0      NaN  HomeImp  Office



   LOAN  IMP_MORTDUE  IMP_VALUE  IMP_YOJ  IMP_DEROG  IMP_DELINQ   IMP_CLAGE  \
0  1100      25860.0    39025.0     10.5        0.0         0.0   94.366667
1  1300      70053.0    68400.0      7.0        0.0         2.0  121.833333
2  1500      13500.0    16700.0      4.0        0.0         0.0  149.466667
3  1500      63508.0    86908.0      7.0        0.0         0.0  172.432355
4  1700      97800.0   112000.0      3.0        0.0         0.0   93.333333

   IMP_NINQ  IMP_CLNO  IMP_DEBTINC  std_LOAN  std_IMP_MORTDUE  std_IMP_VALUE  \
0       1.0       9.0    34.880462 -1.562299        -1.104139      -1.098402
1       0.0      14.0    34.880462 -1.544453        -0.066158      -0.581919
2       1.0      10.0    34.880462 -1.526606        -1.394444      -1.490930
3       1.0      20.0    34.880462 -1.526606        -0.219883      -0.256504
4       0.0      14.0    34.880462 -1.508759         0.585549       0.184674

   std_IMP_YOJ  std_IMP_DEROG  std_IMP_DELINQ  std_IMP_CLAGE  std_IMP_NINQ  \
0     0.240237      -0.280976       -0.375943      -1.017336     -0.102879
1    -0.241936      -0.280976        1.477341      -0.688676     -0.707574
2    -0.655226      -0.280976       -0.375943      -0.358023     -0.102879
3    -0.241936      -0.280976       -0.375943      -0.083221     -0.102879
4    -0.792990      -0.280976       -0.375943      -1.029700     -0.707574

   std_IMP_CLNO  std_IMP_DEBTINC  TARGET  TARGET2   REASON     JOB
0     -1.230878         0.113349       1    641.0  HomeImp   Other
1     -0.728389         0.113349       1   1109.0  HomeImp   Other
2     -1.130380         0.113349       1    767.0  HomeImp   Other
3     -0.125403         0.113349       1   1425.0      NaN     NaN
4     -0.728389         0.113349       0      NaN  HomeImp  Office

In [18]:

Y_TEST = Y_NEW[ ["IMP_MORTDUE", "std_IMP_MORTDUE" ] ]
print( Y_TEST.head() ) 
print( "\n\n")
print( Y_TEST["IMP_MORTDUE"].describe() )
print( "\n\n")

   IMP_MORTDUE  std_IMP_MORTDUE
0      25860.0        -1.104139
1      70053.0        -0.066158
2      13500.0        -1.394444
3      63508.0        -0.219883
4      97800.0         0.585549



count      5960.000000
mean      72869.716644
std       42579.485794
min        2063.000000
25%       48139.000000
50%       63508.000000
75%       88200.250000
max      399550.000000
Name: IMP_MORTDUE, dtype: float64

In [19]:
TEMP = ( Y_TEST["IMP_MORTDUE"] - 72869.716644) / 42579.485794
Y_TEST = Y_TEST.assign( calc_IMP_MORTDUE = TEMP.values )
print( Y_TEST.head() ) 
print( "\n\n")

   IMP_MORTDUE  std_IMP_MORTDUE  calc_IMP_MORTDUE
0      25860.0        -1.104139         -1.104046
1      70053.0        -0.066158         -0.066152
2      13500.0        -1.394444         -1.394327
3      63508.0        -0.219883         -0.219864
4      97800.0         0.585549          0.585500

In [20]:
!jupyter nbconvert --to pdf Assignmentunit99_Kwok.ipynb

[NbConvertApp] Converting notebook Assignmentunit99_Kwok.ipynb to pdf
[NbConvertApp] Writing 53814 bytes to notebook.tex
[NbConvertApp] Building PDF
[NbConvertApp] Running xelatex 3 times: ['xelatex', 'notebook.tex', '-quiet']
[NbConvertApp] Running bibtex 1 time: ['bibtex', 'notebook']
[NbConvertApp] WARNING | bibtex had problems, most likely because there were no citations
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 52172 bytes to Assignmentunit99_Kwok.pdf